{% set url= path('ads_single',{'slug':ad.slug}) %}
            <div class="col-md-4 mt-3">
                <div class="card">
                    <div class="card-header bg-primary text-light">{{ad.rooms}} chambres pour <strong>{{ad.price}}&euro;</strong> /nuit</div>
                        <div class="card-body">
                            <a href="{{url}}">
                                <img src="{{ad.coverImage}}" class="img-fluid" alt="{{ad.title}}" style="height:200px;width:100%;display:block;">
                            </a>
                            <h4 class="card-title">{{ad.title}}</h4>
                            <p class="card-text">{{ad.introduction}}</p>
                            <a href="{{url}}" class="btn btn-outline-secondary">+ d'infos</a>
                            {% if app.user and app.user == ad.author %}
                                <a href="{{path('ads_edit',{'slug':ad.slug})}}" class="btn btn-outline-warning">Modifier</a>
                                <a href="{{path('ads_delete',{'slug':ad.slug})}}" class="btn btn-outline-danger" onclick="return confirm(`Etes vous sûr de vouloir supprimer cette annonce ?`)">Supprimer</a>
                            {% endif %}
                        </div>
                        <div class="card-footer text-muted text-center">
                            {% if ad.comments | length > 0 %}
                                {% include 'inc/rating.html.twig' with {'rating' : ad.averageRatings} %} sur {{ ad.comments | length}} avis.
                            {% else %}
                                <span>Pas encore de commentraire.</span>
                            {% endif %}
                        </div>
                </div>
            </div>